AUR
bin/
.cache/
*.callgrind
clipsim-git
*.cmd
compile_commands.json
*.data
*.diff
*.git/
*.gz
*.o
*.orig
.SRCINFO
tags
.tags.vim
*.tar.gz
*temp_delete_me*
temp_delete_me
tests/incr_owner
tests/unresponsive_owner
*.obj
static-analyzers-warnings.txt
