bin/
*.diff
*.o
tags
.tags.vim
.cache/
compile_commands.json
*.data
AUR
*.orig
clipsim-git
*.git/
.SRCINFO
temp_delete_me
*.callgrind
tests/incr_owner
*.gz
tests/unresponsive_owner
*temp_delete_me*
*.cmd
*.o
bin/
*.tar.gz
